body{
	background-image: url("../img/redSmoke.png"); 
	background-size: 100%;
}
.header {
	padding: 1rem;
	text-align: center;
	color: white;
  }
  .navButton{
	color: #ffff52;
	/* width: 10rem; */
	font-weight: bolder;
	margin-left: 5rem;
  }
.navLinkSocial:hover{
	background-color: #ffff52;
	color: red;
}
.navLinkSocial{
	background-color: red;
	color: #000000;
	border: #000000 solid 2px;
}
.btn {
	min-height: 10vh;
	background: #000000;
	color: #ffff52;
	font-size: 5vw;
	border: solid #ffff52 0.5vw;
	cursor: pointer;
	padding: 0vw 2vw;
	margin: 2vw;
	text-transform: uppercase;
	letter-spacing: 1vw;
	font-weight: bolder;
}
.btn:hover {
	background: #ffff52;
	border: solid #000000 0.5vw;
}
.icons{
	font-size: 5vw;
}
.imgYT{
	height: 50vw;
	border-radius: 2rem;
	border: solid black 1vw;
}
footer{
    list-style: none;
    padding: 1rem;
    color: #fff;
}
h3{
	color: #ffff52;
}
h2, h1{
	font-weight: bolder;
	color: #fff;
}
.footerLink{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}
.galleryPhoto{
	min-height: 12rem;
	padding: 0.2rem;
}
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row {   
	  flex-direction: column;
	}
  }
  
