body{
	background-image: url("../img/redSmoke.png"); 
	background-size: 100%;
}
.header {
	padding: 1rem;
	text-align: center;
	color: white;
  }
  .headerImg{
	width: 50vw;
	height: auto;
  }
  .navButton{
	color: #ffff52;
	/* width: 10rem; */
	font-weight: bolder;
	margin-left: 5rem;
  }
.navLinkSocial:hover{
	background-color: #ffff52;
	color: red;
}
.navLinkSocial{
	background-color: red;
	color: #000000;
	border: #000000 solid 2px;
}




  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row {   
	  flex-direction: column;
	}
  }
  
