.backgroundHeader, footer{
    background-image: linear-gradient(#477670,#2b675f,#1f4e46);
}
.backgroundHeaderImage{
    width: 10rem;
}
.navbar-light{
    color: #477670;
    font-weight: bold;
}
.nav-link,.form-control, h1, h2{
    color: #1f4e46;
}
h2{
    font-size: 1.4rem;
}
.containerSection{
    color: #ca6a2d;
}
footer{
    list-style: none;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 20rem;
    margin: 1rem;
    text-align: center;
    font-family: arial;
}
.price{
    color: grey;
    font-size: 1.5rem;
}  
.card button{
    border: none;
    padding: 1rem;
    color: white;
    background-color: #2b675f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5rem;
}
.cardImg{
    height: 25rem;
}
.buttonCoordonées{
    border: none;
    padding: 1rem;
    color: white;
    background-color: #2b675f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.5rem;
}
 button:hover{
    opacity: 0.7;
}
.buttonVoirPlus button{
    border: none;
    margin: 3rem;
    padding: 1rem;
    color: white;
    background-color: #ca6a2d;
    cursor: pointer;
    width: auto;
    font-size: 1.5rem;
}
a:hover{
    opacity: 0.7;
}
footer{
    list-style: none;
    padding: 1rem;
    color: #fff;
}
.nav-item{
    list-style: none;
    padding: 0;
}
.footerLink{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}
i{
    padding-right: 0.5rem;
}
